<h2 class="content-subhead">Search</h2>
<form action="/search" mechod="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @file_results.empty? %>
  <h3>Sorry, no matches were found</h3>
<% else %>
  <h3>Results for '<%= @query %>'</h3>
  <% @file_results.each do |file| %>
    <% num = file.delete("^0-9") %>
    <p><a href="chapters/<%= num %>"><%= file %></a></p>
  <% end %>
<% end %>
                      
