<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>
</head>

<body>

  <h1><%= @title %></h1>
  <% @files.each do |file| %> 
    <p><a href="<%=file%>"><%= file %></a></p>
  <% end %>

  <p><a href="?sort=ascending">Sort Ascending</a></p>
  <p><a href="?sort=descending">Sort Descending</a></p>

</body>
</html>
